@import url('pandoc.css');

@font-face {
    font-family: "Dancing Script";
    src: url("/Dancing Script.ttf");
}

@font-face {
    font-family: "CMU";
    src: url("/CMU.ttf");
}

:root {
    --page-color: #fff8e7;
    --page-color-dimmer: #fff0cc;
    --text-color: #202020;
    --dimmed-text-color: #040404c0;
    --inverse-text-color: #f4f4f4;
    --code-color: #fbfbf1;
    --item-border: rgb(var(--color6));
    --header-shadow: black 4px 4px 2px;
    --text-shadow:
        black 1px 1px 1px,
        black -1px 1px 1px,
        black -1px -1px 1px,
        black 1px -1px 1px,
        black 1px 1px 1px,
        black 0px 1px 1px,
        black 0px 0px 1px,
        black 1px 0px 1px;
    --page-width: 50vw;
    --color1: 250, 128, 114;
    --color2: 218, 109, 140;
    --color3: 169, 102, 152;
    --color4: 115, 97, 145;
    --color5: 70, 87, 121;
    --color6: 47, 72, 88;
}

html {
    min-height: 100%;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
    background-image: url("/spaceship-pattern.png");
    background-color: rgb(var(--color6));
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
    color: var(--text-color);
}

#site-header {
    justify-content: center;
    text-align: center;

	font-size: 5em;
	color: var(--inverse-text-color);
	text-shadow: var(--text-shadow);
	font-family: "Dancing Script";
	user-select: none;
	padding: 0;
	margin: 0;

    text-decoration: none;
}

nav {
    display: flex;
    color: var(--inverse-text-color);
    margin: auto;
    justify-content: center;
    text-align: center;
    width: var(--page-width);
    gap: 4px;
    padding-bottom: 4px;
}

nav > a {
	align-content: center;
	width: 88px;
	height: 31px;
	text-align: center;
	justify-content: center;
	border-radius: 4px;
	border: 1px solid rgb(var(--color5));
	transition-property: all;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier();

	background-color: rgb(var(--color1));
	background-image: linear-gradient(300deg,
			#00000020 0%,
			#00000020 15%,
			#FFFFFF20 30%,
			#00000020 45%,
			#00000020 100%);
	text-decoration: none;
	color: var(--inverse-text-color);
	text-shadow: var(--text-shadow);

	box-shadow: black 0px 0px 8px;
}

nav > a:hover {
	background-color: rgb(var(--color2));
}

nav > a:active {
	background-color: rgb(var(--color3));
}

#page-title {
	text-align: center;
	font-size: 3em;
}

article {
    background: var(--page-color);
    border: 1px solid black;
    border-radius: 5px;
    width: var(--page-width);
    padding: 16px 32px;
    box-shadow: black 0px 0px 8px;
    margin-left: auto;
    margin-right: auto;
}

article * {
	text-align: justify;
}

article blockquote {
	color: var(--dimmed-text-color);
	border-left: 2px solid var(--dimmed-text-color);
	padding-left: 8px;
}

article code {
	font-family: "Fantasque Sans Mono", "Consolas", monospace;
}

article > code {
	background-color: var(--page-color);
	border-radius: 3px;
}

article pre {
	background-color: var(--code-color);
	border: 1px solid var(--item-border);
	border-radius: 3px;
	padding: 5px 7px;
}

article figure {
	text-align: center;
}

article figure > figcaption {
	text-align: center;
}

article figure > img {
	border-radius: 3px;
	border: 1px solid var(--item-border);
	max-width: 100%;
}

article table {
	border: 1px solid var(--item-border);
	border-collapse: collapse;
}

article table > thead {
	background-image: linear-gradient(to bottom,
				#ffffff 0%,
				#ffffff 48%,
				#f7f8fa 52%,
				#f4f5f7 100%);
}

article table td {
	border: 1px solid var(--item-border);
}

article table > tbody > :nth-child(even) {
	background-color: var(--page-color-dimmer);
}

article table > tbody > :hover {
	background-image: linear-gradient(to bottom,
				#ffffff 0%,
				#ffffff 48%,
				#f7f8fa 52%,
				#f4f5f7 100%);
}

article math {
	font-family: "CMU";
}

article math[display="block"] {
	text-align: center;
	font-size: 1.25em;
}

#guest-book {
	margin-top: 8px;
	width: 100%;
	height: 480px;
}

footer > * {
	margin: 0;
	text-align: center;
}

* {
    box-sizing: border-box;
}
